## example
[Unit]
Description=Docmost Importier Arbeitstier
After=network.target

[Service]
User=user
Group=group
WorkingDirectory=/home/user/progs/docmost-importier
ExecStart=/bin/bash /home/user/progs/docmost-importier/docmost-importier.sh
Restart=always
RestartSec=15
StandardOutput=append:/home/user/progs/docmost-importier/docmost_watch.log
StandardError=inherit

[Install]
WantedBy=multi-user.target

#EOF
