[Unit]
Description=Docmost Importier Arbeitstier
After=network.target

[Service]
User=olav
Group=olav
WorkingDirectory=/home/olav/progs/docmost-importier
ExecStart=/bin/bash /home/olav/progs/docmost-importier/docmost-importier.sh
Restart=always
RestartSec=15
StandardOutput=append:/home/olav/progs/docmost-importier/docmost_watch.log
StandardError=inherit

[Install]
WantedBy=multi-user.target

#EOF
